.container {
    padding: 25px;
}

.hide {
    display: none;
}

#getall-list {
    list-style: none;
}

.getall-list-item {
    padding: 5px;
}

.list-item-timestamp {
    background-color: #f0f8ff;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
}

.list-item-data {
    padding: 10px 10px 5px 10px;
    background-color: #fafad2;
}